include README.md
include DOCKER_INSTALL.md
include LICENSE
recursive-include netbox_maintenance_device/templates *
recursive-include netbox_maintenance_device/static *
recursive-include netbox_maintenance_device/locale *
recursive-include netbox_maintenance_device/migrations *
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.py[co]